# Application URLs
NEXT_PUBLIC_API_URL=


# Privy Configuration
NEXT_PUBLIC_PRIVY_APP_ID=

## Privy Server-side Configuration (for sponsored transactions)
PRIVY_APP_ID=
PRIVY_APP_SECRET=

# Blockchain RPC URLs
## EVM Networks
NEXT_PUBLIC_ALCHEMY_ETH_URL=
NEXT_PUBLIC_ALCHEMY_POLYGON_URL=
NEXT_PUBLIC_ALCHEMY_BASE_URL=

## Solana Networks
NEXT_PUBLIC_SOLANA_RPC_URL=
NEXT_PUBLIC_SOLANA_SOCKET_URL=

# Alchemy EVM API key
NEXT_PUBLIC_ALCHEMY_ETH_API_KEY=
NEXT_PUBLIC_ALCHEMY_POLYGON_API_KEY=
NEXT_PUBLIC_ALCHEMY_BASE_API_KEY=

# Blockchain Explorer API Keys
NEXT_PUBLIC_ETHERSCAN_API_KEY_TOKEN=
NEXT_PUBLIC_POLYGONSCAN_API_KEY_TOKEN=
NEXT_PUBLIC_BASESCAN_API_KEY_TOKEN=
NEXT_PUBLIC_SOLSCAN_API_KEY=

# Wallet Configuration
NEXT_PUBLIC_FEE_PAYER_ADDRESS=

# Google API Configuration
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GOOGLE_PLACES_API_KEY=

# Environment Configuration
NODE_ENV=
NEXT_PUBLIC_IGNORE_BUILD_ERROR=

# Sandbox
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

NEXT_PUBLIC_MORALIS_API_KEY=

NEXT_PUBLIC_HELIUS_API_KEY=

# LiFi Configuration
LIFI_API_URL=
LIFI_API_KEY=

# Dflow APIs

NEXT_PUBLIC_DFLOW_API_URL=
NEXT_PUBLIC_DFLOW_API_KEY=

# Jupiter Configuration
NEXT_PUBLIC_JUPITER_API_URL=
JUPITER_API_KEY=

NEXT_PUBLIC_POLYMARKET_API_URL=