@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} */

/* Hide the native date picker icon for this specific input */
.custom-date-input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.custom-date-input::-moz-calendar-picker-indicator {
  display: none;
}

/* for feed */
.break-text {
  overflow-wrap: anywhere;
}

/* motion for love react in feed  */
@keyframes ping-heart {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.6;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping-heart {
  animation: ping-heart 0.6s ease-out;
}

/* custom scrollbar design  */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 4px; /* Height of the scrollbar (for horizontal scrolling) */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(
    251,
    131,
    131,
    0.601
  ); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(
    128,
    128,
    128,
    0.749
  ); /* Color of the scrollbar track */
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(112, 112, 112, 0.823) rgba(157, 156, 156, 0.1); /* For Firefox */
}

/* more  */
::-webkit-scrollbar {
  height: 12px;
  width: 4px;
  background: rgb(219, 219, 219);
}
/* effective  */
::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgb(199, 199, 199);
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

/* remove water mark from tinymice editor  */
.tox .tox-statusbar {
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #e3e3e3;
  color: rgba(34, 47, 62, 0.7);
  display: none !important;
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 400;
  height: 25px;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  text-transform: none;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 6px;
  }

  .scrollbar-track-gray-100::-webkit-scrollbar-track {
    background-color: #f3f4f6;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.custom-audio .rhap_progress-section {
  display: none !important;
}

/* smartsite embed link start */
.embed-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  width: 100% !important;
  border-radius: 12px; /* Adjust the radius as needed */
}

.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
  border-radius: 12px;
}

.embed-container {
  position: relative;
  border-radius: 12px;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px !important;
  height: 100%;
  border: 0;
}

/* phone number input for profile page custom css start */
.react-international-phone-input {
  width: 100% !important; /* w-full */
  border: 1px solid #ede8e8 !important; /* border border-[#ede8e8] */
  border-start-end-radius: 0.75rem !important; /* rounded-xl */
  border-end-end-radius: 0.75rem !important; /* rounded-xl */
  padding-top: 0.5rem !important; /* py-2 (top and bottom padding) */
  padding-bottom: 0.5rem !important; /* py-2 (top and bottom padding) */
  color: #4a5568 !important; /* text-gray-700 */
  background-color: #f3f4f6 !important; /* bg-gray-100 */
  font-size: 100% !important;
}

.react-international-phone-input:focus {
  border-color: #e5e0e0 !important; /* focus:border-[#e5e0e0] */
  outline: none !important; /* focus:outline-none */
}

.react-international-phone-country-selector-button {
  height: 100% !important;
  padding-left: 6px !important;
}

.react-international-phone-input-container .react-international-phone-input {
  height: auto !important;
}

.react-international-phone-flag-emoji {
  width: var(--react-international-phone-flag-width, 30px) !important;
  height: var(--react-international-phone-flag-height, 30px) !important;
}
/* phone number input for profile page custom css end */

/* places input custom css for profile page start  */
.css-13cymwt-control {
  border-color: #ede8e8 !important;
  box-shadow: #ede8e8 !important;
  border-radius: 13px !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  background-color: #f3f4f6 !important;
  padding-left: 4px;
}
.css-13cymwt-control:hover {
  border-color: #ede8e8 !important;
  background-color: #f3f4f6 !important;
}
.css-t3ipsp-control {
  border-color: #ede8e8 !important;
  box-shadow: 0 0 0 0px#ede8e8 !important;
  background-color: #f3f4f6 !important;
  border-radius: 13px !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  padding-left: 4px;
}
.css-t3ipsp-control:focus {
  border-color: #ede8e8 !important;
}
.css-t3ipsp-control:hover {
  border-color: #ede8e8 !important;
}
/* places input custom css for profile page end  */

/* custom loader  */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 
@keyframes progress {
  0% {
    width: 0%;
    left: 0;
    right: auto;
  }
  50% {
    width: 100%;
    left: 0;
    right: auto;
  }
  51% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0;
  }
} */
